<header>
    <img src="./assets/webyoutubelink.jpg" alt="site logo">
    
    <div>
        <h1><i>Useful Sites and Videos</i></h1>
    </div> 
   
    <div>  
    </div>
</header>
<!-- the below code is for the hamburger menu -->
<div class="menu-toggle" (click)="toggleMenu()">
  <div class="bar" [ngClass]="{'open': isMenuOpen}"></div>
  <div class="bar" [ngClass]="{'open': isMenuOpen}"></div>
  <div class="bar" [ngClass]="{'open': isMenuOpen}"></div>
</div>




<nav [ngClass]="{'show-menu': isMenuOpen, 'hide-menu': !isMenuOpen}">
  <div class="my-fav">
    <a href="https://www.youtube.com/watch?v=VRpHdSFWGPs" target="_blank">Functional</a>
  </div>
  <div  class="my-fav">
    <a href="https://www.youtube.com/watch?v=GdAon80-0KA" target="_blank">Collections</a>
  </div>
  <div class="my-fav">
    <a href="https://youtu.be/vrh0epPAC5w?si=24jsgTOhuXlL-8Zi" target="_blank">Networking</a>
  </div>
  <div  class="my-fav">
    <a href="https://en.wikipedia.org/wiki/Java_version_history" target="_blank">JavaPackage</a>
  </div>
  <div  class="my-fav">
    <a href="../assets/cheatsheet.html" target="_blank">CodesSheets</a>
  </div>
</nav>

<div class="about-site">
  <p> 
    This website is a great resource for learning about a variety of topics. It provides general information about each topic, as well as links to related websites, video blogs, podcasts, and more. This is a great way to learn about new topics or to get more information about topics that you are already interested in.
    
    For example, if you are interested in learning about cooking, you could visit this website and read the general information about cooking. You could then click on the links to related websites to learn about different recipes or cooking techniques. You could also watch the related video blogs to see how to cook different dishes. And if you want to learn more about the history of cooking, you could listen to the related podcasts.</p>
    
    <p>This website is a great way to learn about a variety of topics in a fun and engaging way. It is also a great way to discover new resources that you may not have known about before.</p>
</div>

<div class="container">
    <!--
  <div class="sidebar">
     <ul>
        <li>Core Java</li>
        <li>Spring Boots</li>
        <li>Oracle Database</li>
        <li>MySql Database</li>
        <li>Python For AI</li>
        <li>Machine Learning</li>
     </ul>
    </div>
    -->
  
    <div class="sidebar">
        <ul>
           <li *ngFor="let site of sites" (click)="onSelect(site)"  
            (click)="selectListItem(site)" 
           [class.active]="selectedListItem === site">
             {{ site.name }}
           </li>
        </ul>
       </div>


  
       <div class="link-container">
        <ul *ngIf="selectedSite">
          <li *ngFor="let linkObj of selectedSite.weblink">
            <a [href]="linkObj[getKey(linkObj)]" target="_blank">
              {{ getKey(linkObj) }}
            </a>
          </li>
        </ul>
      </div>
      
      <div class="link-container">
        <ul *ngIf="selectedSite">
          <li *ngFor="let linkObj of selectedSite.videolink">
            <a [href]="linkObj[getKey(linkObj)]" target="_blank">
              {{ getKey(linkObj) }}
            </a>
          </li>
        </ul>
      </div>
      
      <div class="link-container">
        <ul *ngIf="selectedSite">
          <li *ngFor="let linkObj of selectedSite.bloglink">
            <a [href]="linkObj[getKey(linkObj)]" target="_blank">
              {{ getKey(linkObj) }}
            </a>
          </li>
        </ul>
      </div>
 
</div>

<div class="git-link-content">

  <div class="github-link">
    <h2>GitHub Links To Check</h2>
    <ul *ngIf="selectedSite">
      <li *ngFor="let linkObj of selectedSite.githublink">
        <a [href]="linkObj[getKey(linkObj)]" target="_blank">
          {{ getKey( linkObj) }}
        </a>
      </li>
    </ul>
    
  </div> 

  <div class="github-link">
    <h2>Discussion Forum To Post</h2>
    <ul *ngIf="selectedSite">
      <li *ngFor="let linkObj of selectedSite.discussforum">
        <a [href]="linkObj[getKey(linkObj)]" target="_blank">
          {{ getKey( linkObj) }}
        </a>
      </li>
    </ul>
    
  </div>

  <div class="github-link">
    <h2>Easy Cheatsheet To Understand</h2>
    <ul *ngIf="selectedSite">
      <li *ngFor="let linkObj of selectedSite.cheatsheet">
        <a [href]="linkObj[getKey(linkObj)]" target="_blank">
          {{ getKey( linkObj) }}
        </a>
      </li>
    </ul>
    
  </div>



  <div class="github-link">
    <h2>Books That Are Useful</h2>
    <ul *ngIf="selectedSite">
      <li *ngFor="let linkObj of selectedSite.books">
        <a [href]="linkObj[getKey(linkObj)]" target="_blank">
          {{ getKey( linkObj) }}
        </a>
      </li>
    </ul>
    
  </div>
</div>


<div class="corejava">
  <h3>Core Java Solved Project For Better Understanding.</h3>
  <div *ngFor="let blog of blogs" class="corejava-pro">
    <a href="{{ blog.link }}" target="_blank">
      <button><img src="./assets/corejava.png" alt="Core Java Image"> {{ blog.name }} </button>
    </a>
  </div>
</div>


<footer>
  <div>

    <div class="course-train">
      <h4>Online Course Training</h4>
      <a href="https://tekslate.com/all-courses" target="_blank">Tekslate Courses Training </a>
      <a href="https://k21academy.com/1z01072-oracle-cloud-infrastructure-architect-associate-training/" target="_blank">K21Academy Training</a>
      <a href="https://intellipaat.com/oracle-training/" target="_blank">Intellipaat Online Training</a>
    </div>
    
    
  </div>

  <div>
    <div class="course-train">
      <h4>Tutoring</h4>
      <a href="https://youtu.be/mPPhcU7oWDU?si=7KoNuZrYOw-UVw5b" target="_blank">Microservices</a>
      <a href="https://www.youtube.com/watch?v=QunBtnwYMhU&list=PLzS3AYzXBoj8E3NjjWNjrrFjyexXIyZbL" target="_blank">Maven</a>
      <a href="https://youtu.be/RfErIPo94bc?si=mnkiCF2JDqE4LSUQ" target="_blank">Mockito Junit</a>
      <a href="https://www.youtube.com/watch?v=xMCnDesBggM&list=PL4cUxeGkcC9gUxtblNUahcsg0WLxmrK_y" target="_blank">GraphQL</a>
      <a href="https://www.youtube.com/watch?v=IA5yRllroD0" target="_blank">Swagger</a>
      <a href="https://www.youtube.com/watch?v=yWZddrstlqg" target="_blank">Actuator</a>
    </div>
  </div>

   <div class="course-train">
    <h4>Online Converter</h4>
    <a href="https://www.freeconvert.com/mkv-to-mp3" target="_blank">Music Converter</a>
    <a href="https://smallpdf.com/merge-pdf" target="_blank">Merge PDF</a>
    <a href="https://www.pdf2go.com/pdf-to-word" target="_blank">PDF To Words</a>
    <a href="https://www.pdffiller.com/en/pdf-editor-online?keyword=online%20pdf%20editor%20free&campaignid=73493583&adgroupid=4816129615&msclkid=4183e43fc2f71a38f3aa816fc489ddf5&utm_source=bing&utm_medium=cpc&utm_campaign=Editor&utm_term=online%20pdf%20editor%20free&utm_content=PDF%20Editor" target="_blank">Edit PDF</a>
   </div>

   <div class="course-train">
    <h4>A.I Tools</h4>
    <a href="https://chat.openai.com/auth/login" target="_blank">ChatGPT</a>
    <a href="https://openai.com/dall-e-2" target="_blank">Images</a>
    <a href="https://jadbio.com/" target="_blank">Predictive Model</a>
    <a href="https://www.copy.ai/" target="_blank">Content Writing</a>
    <a href="https://lumen5.com/" target="_blank">Video Creation</a>
    <a href="https://www.lalal.ai/" target="_blank">Music Production</a>
   </div>
</footer>
  